div{
    background-color: lightgreen;
    color: white;
}
.ps{
    background-color: orange;
    color: white;
}
.edu{
    background-color:goldenrod;
    color: white;
}
.ts{
    background-color: cornflowerblue;
    color: black;
}
p{
    color: white;
}
.pro{
    background-color: lightgreen;
    color: white;
}
.ss{
    background-color: plum;
}
.d{
    background-color: tomato;
}